.product__slider{
    display: flex;
    gap: 5rem;
    margin-top: 15rem;
    &--left{
        flex: 0 0 45%;
    }
    &--right{
        flex: 1;
        display: flex;
        flex-direction: column;
        row-gap: 30rem;
        overflow: hidden;
    }
    &__list{
        list-style-type: none;
        padding-left: 0;
    }
    &__mask{
        overflow: hidden;
        height: 18rem;
    }
    &__item{
        height: 18rem;
    }
    &__cat{
        display: grid;
        gap: 3rem;
        grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));
    }

   
}